/*!
 *  Conduit Grid by @nikosgram17 - http://nikosgram13.github.io/ - @nikosgram13
 *  License - http://nikosgram13.github.io/LICENSE
 */
.conduit .loading-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.conduit .loading-cube-grid .loading-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: gridelay 1s infinite ease-in-out;
    -o-animation: gridelay 1s infinite ease-in-out;
    animation: gridelay 1s infinite ease-in-out;
}

.conduit .loading-cube-grid .loading-cube1 {
    -webkit-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

.conduit .loading-cube-grid .loading-cube2 {
    -webkit-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

.conduit .loading-cube-grid .loading-cube3 {
    -webkit-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}

.conduit .loading-cube-grid .loading-cube4 {
    -webkit-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s;
}

.conduit .loading-cube-grid .loading-cube5 {
    -webkit-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

.conduit .loading-cube-grid .loading-cube6 {
    -webkit-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

.conduit .loading-cube-grid .loading-cube7 {
    -webkit-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.conduit .loading-cube-grid .loading-cube8 {
    -webkit-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s;
}

.conduit .loading-cube-grid .loading-cube9 {
    -webkit-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

@-khtml-keyframes gridelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        -moz-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
        -o-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-moz-keyframes gridelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        -moz-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
        -o-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-ms-keyframes gridelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        -moz-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
        -o-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-o-keyframes gridelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        -moz-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
        -o-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-webkit-keyframes gridelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        -moz-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
        -o-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes gridelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        -moz-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
        -o-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}