/*!
 *  Conduit by @nikosgram17 - http://nikosgram13.github.io/ - @nikosgram13
 *  License - http://nikosgram13.github.io/LICENSE
 */
.conduit {
    background: url('http://loremflickr.com/1920/1080/weather') fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.conduit [data-search] {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.conduit .form-control:focus {
    border-color: #c2272d;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(194, 39, 45, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(194, 39, 45, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(194, 39, 45, 0.6);
}

.conduit .container {
    padding: 20px;
    margin: auto;
    max-width: 500px;
}

.conduit img.media-object {
    min-width: 64px;
    max-width: 64px;
}

.conduit div.row {
    padding: 10px;
}

.conduit input.search-vec {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 500px;
}

.conduit .texted {
    background-color: rgba(0, 0, 0, 0.69);
    padding: 5px;
    color: #F0F0F0;
}

.conduit .panel {
    border: 0;
    -webkit-transition: padding .25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -moz-transition: padding .25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -ms-transition: padding .25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -o-transition: padding .25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transition: padding .25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.conduit .panel:hover {
    padding: 0 5px;
}
