body {
  background-image: url('/asset/img/background.jpg');
  background-attachment: fixed;
}
body .container {
  padding: 20px;
  margin: auto;
  max-width: 500px;
}
img.media-object {
  min-width: 64px;
  max-width: 64px;
}
div.row {
  padding: 10px;
}
input.search-vec {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  max-width: 500px;
}
.texted {
  background-color: rgba(0, 0, 0, 0.69);
  padding: 5px;
  color: #F0F0F0;
}
.panel {
  border: 0;
  transition: padding 0.2s linear;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}
.panel:hover {
  padding: 0 10px;
}
.loading-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}
.loading-cube-grid .loading-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: loading-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: loading-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.loading-cube-grid .loading-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading-cube-grid .loading-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading-cube-grid .loading-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loading-cube-grid .loading-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loading-cube-grid .loading-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading-cube-grid .loading-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading-cube-grid .loading-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loading-cube-grid .loading-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loading-cube-grid .loading-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes loading-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes loading-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
